* {
x-sizing: border-box;
}
body {
    font-family: Trebuchet MS;
    background-color: #55deef;
}
a {
    color: #fff;
}
a:hover, a:active, a:visited {
    text-decoration: none;
}
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav boarder main"
    "nav boarder footer";
  grid-template-rows: 80px 1fr 30px;  
  grid-template-columns: 15% 7px 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 100vh;
  margin: 0;
  background-color: #55deef;
  }
  
header, footer, main, nav, div {
  padding: 1em;
  background: #55deef;
  }

#boarder{
  grid-area: boarder;
  padding: 0em;
  color: #fff;
  background-color: #55deef;
  }

#pageHeader {
  grid-area: header;
  padding: 0em;
  text-align: center;
  color: #fff;
  background-color: #55deef;
  }

#pageFooter {
  grid-area: footer;
  font-size: 10px;
  color: #fff;
  background-color: #55deef;
  }
#main { 
  grid-area: main;
  color: #f1eee9; 
  background-color: #323232;    
  }
#mainNav { 
  grid-area: nav; 
  color: #5d5c5c;
  background-color: #fff;
  }

form fieldset { border: 0; }
form fieldset p br { clear: left; }
label {
    margin-top: 5px;
    display: block;
    width: 100px;
    padding: 0;
    float: left;
}
input:hover {
    border: 1px solid #222;
    background-color: #f7e8ba;
}

input[type=text], select, textarea{
    width: 50px;
    height: 30px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #55deef;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
