@charset "UTF-8";

	body {
		background-color: #323232;  
	}

	#wrapper {
		width:1200px;
		margin-top:30px;
		margin-right:auto;
		margin-left:auto;
	}
	
	header {
		background-color:#55deef;
		padding:1px 0px 1px 0px;
		margin:0px 50px 0px 50px;
		
		font-size: 30px;
		font-family:Georgia;
		color:#f1eee9;
		letter-spacing:5px;
		text-align:center;
	}
	
	#main {
	background-color: #323232;
	height: auto;
	padding: 25px;
	margin: 0px 50px 0px 0px;
	float: right;
	width: 60%;
	font-family: Verdana;
	color: #f1eee9;
	font-size: 14px;
	line-height: 22px;
	}
	
	#sidebar {
	background-color: #55deef;
	height: auto;
	padding: 25px;
	margin: 0px 0px 0px 50px;
	float: left;
	width: 20%;
    height:auto;
	font-family: Verdana;
	color: #f1eee9;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	}
	
	footer {
		background-color:#55deef;
		padding:15px 0px 15px 0px;
		margin:0px 50px 0px 50px;
		
		clear:both;
		
		font-family:Verdana;
		font-size:11px;
		color:#FFFFFF;
		text-align:center;
	}
    
    li {
        color: #f1eee9;
    }
	
    a {
        color: #f1eee9;
    }
	
    h2{
        font-size: 35px;
        font-family:Georgia;
		color:#f1eee9;
    }